/* Reset some default browser styles */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address,
code,
del, dfn, em, img,
q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a, input, select, textarea, button {
    &:focus {
        outline: none;
    }
}
* {
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
